@import "./normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

$mainFont: "PT Sans", sans-serif;
$colorGreen: rgba(49, 199, 29, 0.8);
$colorActiveGreen: rgb(10, 119, 37);
$colorBlack: rgb(12, 8, 8);


body {
  font-family: $mainFont;

  a {
    text-decoration: none;
    color: inherit;
  }
}