@import '../../../styles/settings.scss';

.root {
    width: 250px;
    border: 1px solid $colorBlack;
    margin: 20px;
  
    .imageWrapper{
      height: 300px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      display: block;

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  
    h4{
      margin: 5px 0;
      text-align: center;
    }
    .cartButton{
      background: $colorGreen;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      height: 40px;
      color: $colorWhite;
      cursor: pointer;
      
      &:hover{
        background: $colorActiveGreen;
      }
    }
  }